.line-img {
    background-image: url("head_image.png");
    background-repeat: repeat-x;
}
.first-fold-img{
   position: relative;
   bottom: 70px;
}
@media (min-width:1921px){
.first-fold-bg-img{
    width: 5000px;
}
}
body::-webkit-scrollbar{
   background: #FFFFFF;
   border-radius: 20px;
   width: 15px;
}
h2{
    letter-spacing: 2px;
}
::-webkit-scrollbar-thumb{
   background: grey;
   border: 3px solid #FFFFFF;
   border-radius: 15px;
}
/* name related css */
.name-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-name{
    font-size:3.750em;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-bottom: 0;
    @media (max-width:400px){
        font-size:14px;
        padding-top:50px;
    };
    @media (max-width:768px){
        font-size:24px;
        padding-top:50px;
    }
}
.my-name {
    white-space: nowrap;
    overflow: hidden;    
  }
  
  /* Animation */
  .my-name {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) ;
  }
  
  /* text animation */
  @media (min-width:768px)
  {
  @keyframes animated-text{ 
    from{width: 0;}
    to{width: 672px;}
  }
}
  /* cursor animations */
.name-text hr{
    background-color: #5b9bbc;
    height: 2px;
    width: 67%;
    margin-top:0.25rem;
    margin-bottom:0.25rem;
    @media (max-width:400px){
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}

/* designation css */
#designation {
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    @media (max-width:768px){
        font-size:18px;
    };
}

/* base nav css*/
#my-navigation .nav-link{
    color: #5b9bbc;
    text-transform: uppercase;
}
#my-navigation{
    @media (max-width:768px)
    {
    font-size: 12px;
}
}
@media (max-width:768px){
#my-navigation .nav {
    flex-wrap: unset !important;
}
#my-navigation .nav-link{
    padding-right: 0px !important;
    padding-left: 6px !important;
    /* font-family: Helvetica, Arial, sans-serif; */
}
}
#my-navigation .nav-link:hover{
    color: white;
    text-decoration: none;
  }
@media (min-width:1200px){
    #my-navigation {
        position: relative;
        top:240px;
    }
    #my-navigation .nav-link{
       letter-spacing: 0.5px;
    }
}
/* about me section */
.sub_sections_aboutme{
    text-align: center;
    color: #404040;
}
.sub_sections_aboutme hr{
      background: lightgrey;
      margin-bottom: 50px;
      height: 2px;
      width: 25%;
}
.sub_sections_aboutme h2{
      font-weight: 100;
      font-size: 36px;
      font-family: Helvetica, Arial, sans-serif;
}
.dp{
    @media (min-width:1200px){
height: 444px !important;
    }
    @media (max-width:768px){
        height: 400px !important;
            }
}
#social_tags{
    float: left;
}
#social_tags a{
  padding-right: 10px;
}
.its-me h6{
    font-weight: 500;
    }
.my-pi h6{
    font-weight: 500;
    }
@media (max-width:992px){
.its-me p{
font-size: 12px;
}
.my-pi p,li{
font-size: 12px;
    }
.my-pi{
    padding-right: 0px !important;
    }
}
@media (max-width:768px){
    .its-me,.my-pi{
        padding-left: 38px !important;
        padding-right: 30px !important;
        padding-top: 20px;
    }
}
/* technical skills section */
.sub_sections_techskills hr{
    background: #f08b65;
    margin-bottom: 50px;
    height: 2px;
    width: 25%;
}
@media (max-width:768px){
    .sub_sections_techskills p{
     font-size: 12px;
     text-align: left;
    }
}
.tech-skills-row p{
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}
.frameworks_engines ul{
    padding-left: 0px;
}
.frameworks_engines li{
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}
.sub_sections_techskills{
    background-color: #eee;
    padding-left: 0px;
    padding-right: 0px;
}
/* work experience */
.sub_sections_experience hr{
    background: #e76270;
    margin-bottom: 50px;
    height: 2px;
    width: 25%;
}
.pink-color{
    color: #e76270;
    font-size: 5px;
    position: relative;
    bottom:4px;
}
.sub_sections_experience h4{
    letter-spacing: 2px;
}
.sub_sections_experience h6{
    letter-spacing: 2px;
}
@media (max-width:768px){
    .sub_sections_experience p{
     font-size: 12px;
     text-align: left;
    }
}
@media (min-width:1200px){
    .sub_sections_experience p{
     text-align: center;
    }
}
.work-exp-hr{
    width: 30px;
    height: 3px;
    background: #ccc !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 3% !important;
}
.work-exp-carousel div{
    padding-bottom: 20px !important;
}
.work-exp-carousel div img{
width: 130px;
height: 130px;
}
.ml-15{
    margin-left: 15px !important;
}
/* education */
.education{
    background-color: #eee;
}
.fav-projects h6{
    letter-spacing: 2px;
}
.fav-projects hr{
    background: #f08b65;
    margin-bottom: 50px;
    height: 2px;
    width: 25%;
}
.fav-project-carousel div{
    padding-bottom: 20px !important;
}
@media (max-width:600px) {
    
.fav-project-carousel{
    text-align: center;
}
}
.fav-project-carousel div img{
    width: 130px;
    height: 130px;
    }
/* get in touch */
.getintotouch{
    text-align: center;
    margin-top: 100px;
    padding-top: 70px;
  }
  .getintotouch hr{
    margin-bottom: 50px;
    background-color: #5b9bbc;
    width: 336px;
    padding: 1px;
  }
  .getintotouch p{
    margin-bottom: auto;
  }
  form{
    margin: auto;
    margin-top: 12px;
    width: 60%;
  }
  .getintotouch {
    background-color: #0d2c5a;
    color: white;
  
  }
  .getintotouch .getintotouch_form .form-group:nth-of-type(4)
  {
    padding-bottom: 80px;
    padding-top: 10px;
  }
  .getintotouch .getintotouch_form .btn {
      width:78px;
      background: #5b9bbc;
  }
  .getintotouch_form ::placeholder{
    font-style: italic;
  }
  .getintotouch .getintotouch_form .form-group {
    margin-bottom: 30px;
  }
  .getintotouch .getintotouch_form .form-group textarea{
    resize: none;
  }