.line-img {
    background-image: url("head_image.png");
    background-repeat: repeat-x;
}
.first-fold-img{
   position: relative;
   bottom: 70px;
}
body::-webkit-scrollbar{
   background: #FFFFFF;
   border-radius: 20px;
   width: 15px;
}
::-webkit-scrollbar-thumb{
   background: grey;
   border: 3px solid #FFFFFF;
   border-radius: 15px;
}
/* name related css */
.name-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-name{
    font-size:3.750em;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-bottom: 0;
    @media (max-width:400px){
        font-size:14px;
        padding-top:50px;
    };
    @media (max-width:768px){
        font-size:24px;
        padding-top:50px;
    }
}
.my-name {
    white-space: nowrap;
    overflow: hidden;    
  }
  
  /* Animation */
  .my-name {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) ;
  }
  
  /* text animation */
  @media (min-width:768px)
  {
  @keyframes animated-text{ 
    from{width: 0;}
    to{width: 672px;}
  }
}
  /* cursor animations */
.name-text hr{
    background-color: #5b9bbc;
    height: 2px;
    width: 67%;
    margin-top:0.25rem;
    margin-bottom:0.25rem;
    @media (max-width:400px){
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}

/* designation css */
#designation {
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    @media (max-width:768px){
        font-size:18px;
    };
}

/* base nav css*/
#my-navigation .nav-link{
    color: #5b9bbc;
    text-transform: uppercase;
}
#my-navigation{
    @media (max-width:768px)
    {
    font-size: 12px;
}}
@media (max-width:768px){
#my-navigation .nav {
    flex-wrap: unset !important;
}
#my-navigation .nav-link{
    padding-right: 0px !important;
    padding-left: 6px !important;
}
}
#my-navigation .nav-link:hover{
    color: white;
    text-decoration: none;
  }
@media (min-width:1200px){
    #my-navigation {
        position: relative;
        top: 240px;
    }
}